[submodule "standalone-builder/fakechroot"]
	path = standalone-builder/sources/fakechroot
	url = git@github.com:dex4er/fakechroot.git
[submodule "standalone-builder/cross-compilers/musl-cross-make"]
	path = standalone-builder/cross-compilers/musl-cross-make
	url = git@github.com:richfelker/musl-cross-make.git
